.root {
    --blanco: #FFFFFF;
    --morado: #581845;
    --oscuro: #000000;
    --fuxia: #9003CF;
}

html{
    font-size: 62.5%;
}


body{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.navegacion-principal{
    text-align: center;
    font-style: oblique;
    background-color: #16769c;
}